/* TAGS */
li {
  padding: 3px;
  line-height: 20px;
}
body{
  background-color: rgb(231, 66, 0);
}
/* CLASSES */
.sidebar {
  width: 30%;
  float: left;
  background-color: yellow;
}
.logo {
  float: left;
}
.chili {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  margin-left: 10px;
}

